@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Blue600: hsl(185, 75%, 39%);
  --Blue550: hsl(185, 50%, 48%);
  --Navy950: hsl(229, 23%, 23%);
  --Gray500: hsl(227, 10%, 46%);
  --Gray100: hsl(225, 10%, 92%);
}

.divtotal {
  width: 350px;
  background-color: white;
  border-radius: 15px;
  display: grid;
  justify-items: center;
  padding: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

body {
  font-size: 15px;
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: "Kumbh Sans", sans-serif;
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg"),
    linear-gradient(45deg, var(--Blue600), var(--Blue550));
  background-position: right 50vw bottom 50vh, left 50vw top 50vh, center;
  background-repeat: no-repeat;
  background-size: auto, auto, cover;
}

.encabezado {
  position: relative;
  width: 100%;
}

.imagendentro {
  width: 122%;
  margin-top: -30px;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 20px;
}

.fotoperfil {
  width: 100px;
  height: 100px;
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
}

.nombrepersona {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

h1 {
  font-weight: 700;
  color: var(--Navy950);
  font-size: 18px;
}

h2 {
  font-weight: 400;
  color: var(--Gray500);
  font-size: 16px;
}

p {
  font-weight: 400;
  color: var(--Gray500);
  font-size: 13px;
}

.stats {
  border-top: 1px solid var(--Gray100);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
  margin-left: -65px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}


.stats div {
  padding: 0 20px;
}

.stats p {
  margin-top: 5px;
}

footer {
  font-size: 11px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  margin-top: 5px;
}
