@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: all;
}


/* ajustes básicos responsivos */
html, body, #__next {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 :root {
  --background: #ffffff;
  --foreground: #171717;
  --font-serif: "Bodoni Moda SC", serif;
  --font-sans: "Hanken Grotesk", sans-serif;
}

/* Base body/html (ya debería estar cubierto por Next.js/Tailwind) */

/* El div que contiene la imagen */
#img-scroll-container {
    width: 100vw;
    height: 100dvh; /* Usa d-vh o vh, Next.js ya maneja el layout */
    object-fit: cover;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    transform: translateZ(0); /* Para optimización de hardware */
    will-change: background-image; /* Para optimización */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
} 
