/* Estilo para las imágenes */
.image-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.image1 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid #333;
}

.image2 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #333;
}

.image3 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 70%;
  border: 10px solid #333;
}

.image4 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #333;
}

/* Estilo para los botones */
.button-container {
  margin: 20px 0;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-secondary {
  background-color: #008CBA;
}

/* Estilo para la lista no numerada */
.my-list {
  list-style: none;
  padding: 0;
}

.list-item {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.list-item2 {
  margin-bottom: 20px;
  padding: 5px;
  border: 5px solid #ec2121;
  border-radius: 10px;
}

/* Estilo para los párrafos */
.my-paragraph {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}
