
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.cuadrado {
    width: 300px;
    height: 300px;
    background-color: blue;
    position: relative;
    top: 100px;
    right: 100px;
}

.rectangulo {
    width: 800px;
    height: 300px;
    background-color: green;
}