@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary */
  --Red400: hsl(7, 99%, 70%);
  --Yellow500: hsl(51, 100%, 49%);
  --Green800: hsl(167, 40%, 24%);
  --Blue800: hsl(198, 62%, 26%);
  --Green500: hsl(167, 34%, 41%);
  /* Neutral */
  --Grey950: hsl(212, 27%, 19%);
  --Grey600: hsl(213, 9%, 39%);
  --Grey550: hsl(232, 10%, 55%);
  --Grey400: hsl(210, 4%, 67%);
  --White: hsl(0, 100%, 100%);
}

body {
  font-size: 15px;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.parteArriba {
  background-image: url(images/desktop/image-header.jpg);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 780px;
  background-position: 100% 100%;
  background-size: cover
}

.barraNavegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 45px;
}

.logo img{
  width: 150px;
  margin-top: 15px;
}

.enlaces {
  display: flex;
  gap: 40px;
  align-items: center;
}

.enlaces a {
  color: var(--White);
  font-size: 18px;
  text-decoration: none;
}

button {
  font-family: "Fraunces", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: var(--White);
  padding: 20px 30px;
  border-style: none;
  width: 100%;
}

.tituloYFlecha h1{
  font-family: "Fraunces", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  color: var(--White);
  margin-top: 50px;
  margin-bottom: 70px;
  letter-spacing: 10px;
}

.parteCentral {
  display: grid;
}

.huevo, .copa, .cerezaYMandarina {
  display: flex;
}

.cerezaYMandarina{
  
}

.cereza {
  background-image: url(./images/desktop/image-graphic-design.jpg);
}

.mandarina {
 background-image: url(./images/desktop/image-photography.jpg);

}
