@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary */
  --Red400: hsl(7, 99%, 70%);
  --Yellow500: hsl(51, 100%, 49%);
  --Green800: hsl(167, 40%, 24%);
  --Blue800: hsl(198, 62%, 26%);
  --Green500: hsl(167, 34%, 41%);
  /* Neutral */
  --Grey950: hsl(212, 27%, 19%);
  --Grey600: hsl(213, 9%, 39%);
  --Grey550: hsl(232, 10%, 55%);
  --Grey400: hsl(210, 4%, 67%);
  --Boton: hsl(200.6, 100%, 72%);
  --White: hsl(0, 100%, 100%);
}

body {
  font-size: 18px;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.parteArriba {
  background-image: url(images/desktop/image-header.jpg);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 780px;
  background-position: 100% 100%;
  background-size: cover;
}

.barraNavegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 45px;
}

.logo img {
  width: 150px;
  margin-top: 15px;
}

.enlaces {
  display: flex;
  gap: 40px;
  align-items: center;
}

.enlaces a {
  color: var(--White);
  text-decoration: none;
}

button {
  font-family: "Fraunces", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: var(--White);
  padding: 20px 30px;
  border-style: none;
  width: 100%;
}

button:hover {
  background-color: var(--Boton);
  color: var(--White);
}

.tituloYFlecha h1 {
  font-family: "Fraunces", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  color: var(--White);
  margin-top: 50px;
  margin-bottom: 70px;
  letter-spacing: 10px;
}

.parteCentral {
  display: grid;
}

.imagenesCentrales,
.cerezaYMandarina {
  display: flex;
}

.textosCentrales {
  display: grid;
  place-content: center;
  padding-left: 130px;
  gap: 35px;
}

.textosCentrales h2 {
  font-family: "Fraunces", sans-serif;
  font-size: 45px;
  font-weight: 900;
  padding-right: 100px;
  color: var(--Grey950);
}

.textosCentrales p {
  color: var(--Grey550);
  padding-right: 130px;
  line-height: 1.5;
}

.textosCentrales h3 {
  font-family: "Fraunces", sans-serif;
  font-size: 20px;
  color: var(--Grey950);
  font-weight: 900;
  text-transform: uppercase;
  width: fit-content; /* Para que el ancho se ajuste al contenido */
  cursor: pointer;
  background-image: linear-gradient(var(--Yellow500), var(--Yellow500));
  background-repeat: no-repeat;
  background-size: 0% 40%;
  background-position: left bottom;
  transition: background-size 0.25s ease;
}

.textosCentrales h3:hover {
  background-size: 100% 40%;
  border-radius: 10%;
}

.textosCentrales h3.copa {
  background-image: linear-gradient(var(--Red400), var(--Red400));
}

.textosCentrales h3.copa:hover {
  background-size: 100% 40%;
  border-radius: 10%;
}

.cerezaYMandarina {
  height: 600px;
}

.cereza,
.mandarina {
  width: 50%;
  display: grid;
  place-content: end;
  text-align: center;
  padding: 0 170px;
  line-height: 1.5;
  gap: 35px;
  color: var(--Green800);
  padding-bottom: 70px;
}

.cereza h2,
.mandarina h2 {
  font-family: "Fraunces", sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.cereza {
  background-image: url(./images/desktop/image-graphic-design.jpg);
}

.mandarina {
  background-image: url(./images/desktop/image-photography.jpg);
  color: var(--Blue800);
}

.parteOpiniones {
  justify-items: center;
  background-color: var(--White);
  padding: 160px 120px;
}

.parteOpiniones h2 {
  font-family: "Fraunces", sans-serif;
  font-size: 25px;
  letter-spacing: 4.5px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--Grey400);
  margin-bottom: 60px;
}

.opiniones {
  display: flex;
  text-align: center;
  line-height: 1.8;
}

.opinion {
  padding: 20px 8px;
  display: grid;
  justify-items: center;
}

.parrafoThomas {
  padding: 0 45px;
}

.opinion img {
  margin-bottom: 60px;
  width: 80px;
  border-radius: 50%;
}

.opinion p {
  margin-bottom: 50px;
  color: var(--Grey600);
}

.opinion h3 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  color: var(--Grey950);
}

.opinion span {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--Grey400);
}

.parteAbajo {
  display: flex;
}

.parteAbajo img {
  width: 25%;
}

footer {
  padding: 70px;
  background-color: var(--Green500);
  width: 100%;
  justify-items: center;
}

.logoFooter{
  width: 180px;
  color: var(--Green800);
}

.enlacesFooter,
.redes {
  display: flex;
  justify-content: center;
}

.enlacesFooter {
  padding: 40px;
  gap: 60px;
}

.enlacesFooter a {
  color: var(--Green800);
  text-decoration: none;
  cursor: pointer;
}

.enlacesFooter a:hover {
  color: var(--White);
  cursor: pointer;
}

.redes {
  margin-top: 40px;
  gap: 30px;
}

.redes svg {
  width: 25px;
  cursor: pointer;
  color: var(--Green800);
}

.redes svg:hover {
  color: var(--White);
}

.hamburger {
  display: none; /* Oculto por defecto en escritorio */
  cursor: pointer;
}

/* MEDIA QUERY PARA MÓVILES */
@media screen and (max-width: 768px) {

  .parteArriba {
    background-image: url(images/mobile/image-header.jpg);
    background-position: center bottom; 
    background-size: cover;
    height: 100vh; 
    padding-bottom: 50px; 
  }

  .barraNavegacion {
    position: relative;
    padding: 30px 20px;
  }

  .hamburger {
    cursor: pointer;
    display: block; 
  }

  /* Menu del Movil */
  .enlaces {
    display: none; 
    position: absolute;
    top: 100px;
    left: 24px;
    right: 24px;
    background-color: var(--White);
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 30px;
    z-index: 100; 
    clip-path: polygon(0% 10px, 90% 10px, 100% 0%, 100% 100%, 0% 100%);
  }

  /* Para javascript */
  .enlaces.activo {
    display: flex;
  }

  .enlaces a {
    color: var(--Grey600);
    font-weight: 600;
    font-size: 20px;
  }

  .enlaces button {
    background-color: var(--Yellow500);
    color: var(--Grey950);
    font-family: "Fraunces", sans-serif;
    width: auto;
    padding: 15px 30px;
  }

  .tituloYFlecha h1 {
    font-size: 40px;
    letter-spacing: 5px;
    margin-top: 50px;
    padding: 0 10px;
    line-height: 1.2;
  }

  .parteCentral {
    display: flex;
    flex-direction: column;
  }

  .imagenesCentrales {
    flex-direction: column; 
    text-align: center;
  }

  .imagenesCentrales:nth-child(1) {
    flex-direction: column-reverse;
  }

  .imagenesCentrales img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .imagenesCentrales:nth-child(1) img {
    content: url(./images/mobile/image-transform.jpg);
  }
  .imagenesCentrales:nth-child(2) img {
    content: url(./images/mobile/image-stand-out.jpg);
  }

  .textosCentrales {
    padding: 60px 24px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .textosCentrales h2 {
    padding-right: 0;
    font-size: 32px;
    margin: 0;
  }

  .textosCentrales p {
    padding-right: 0;
    font-size: 18px;
    color: var(--Grey600);
  }
  
  .cerezaYMandarina {
    flex-direction: column;
    height: auto; 
  }

  .cereza,
  .mandarina {
    width: 100%;
    height: 600px; 
    background-position: center;
    background-size: cover;
    padding: 0 20px 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
  }
  
  .cereza {
    background-image: url(./images/mobile/image-graphic-design.jpg);
  }
  .mandarina {
    background-image: url(./images/mobile/image-photography.jpg);
  }

  .parteOpiniones {
    padding: 60px 24px;
  }
  
  .parteOpiniones h2 {
    font-size: 18px;
    margin-bottom: 60px;
  }

  .opiniones {
    flex-direction: column;
    gap: 60px;
  }
  
  .parrafoThomas {
    padding: 0;
  }

  .parteAbajo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .parteAbajo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .parteAbajo img:nth-child(1) { content: url(./images/mobile/image-gallery-milkbottles.jpg); }
  .parteAbajo img:nth-child(2) { content: url(./images/mobile/image-gallery-orange.jpg); }
  .parteAbajo img:nth-child(3) { content: url(./images/mobile/image-gallery-cone.jpg); }
  .parteAbajo img:nth-child(4) { content: url(./images/mobile/image-gallery-sugar-cubes.jpg); }

  footer {
    padding: 60px 30px;
  }

  .enlacesFooter {
    gap: 40px;
    padding: 40px 0;
    flex-direction: row;
  }
}